@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900);
$opacittColor: rgba(161, 223, 218, 0.3);
$mainColor : #a1dfda;
$hoverBg:linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(161,223,218,1) 100%);
$sColor:#818387;
$black:#1e1a1b;
body{
	font-size: 16px;
	letter-spacing:0.5px;
	color: $black;
	box-sizing: border-box;
	::-webkit-scrollbar { 
	    display: none; 
	}
	::-moz-scrollbar { 
	    display: none; 
	}
	::-o-scrollbar { 
	    display: none; 
	}
	::-ms-scrollbar { 
	    display: none; 
	}
}
.intro{
	display: none;
	
	border:none;
	line-height: 2em;font-weight:300; color: $black;
	border-bottom: 1px solid $black;
	transition:all 1s ease;
	/*animation:page 1s 2s 1 ease backwards;*/
	transform-origin:center 20%;
	border:1px solid $black;
	width:auto;
	display:inline-block;
	padding:1em;
	margin-bottom: 0.5em;
	animation:page 1s 1 ease backwards;
}
.intro:nth-child(1){
	animation-delay:0.3s;
}
.intro:nth-child(2){
	animation-delay:0.5s;
}
.intro:nth-child(3){
	animation-delay:0.7s;
}
.intro:nth-child(4){
	animation-delay:0.9s;
}
.intro:nth-child(5){
	animation-delay:1.1s;
}

h1{
	font-size: 4em;
	font-weight: 900;
}
h2{
	font-size: 2.4em;
	font-weight: 400;
}
b{
	font-weight: 700;
}
a{
	text-decoration: none;
	color: $black;
}
$titleH: 10em;
$educationH: 30em;
$personalSkillH: 40em;
$workExperienceH: 15em;
$bannerH:3em;
$personalInfoH: 4em;
.pagewidth{
	width: 100%;
	p{
		/*font-family: "Lato";*/
	}
}
::-webkit-scrollbar-track-piece  {
background-color: #C2D2E4;
}

.showDesx{
	width: 100%;
	height: 100%;
	background: transparent;
	position: absolute;
	z-index: 100000;
	display: none;
	-webkit-overflow-scrolling: touch;	
	-moz-overflow-scrolling: touch;	
	-o-overflow-scrolling: touch;	
	-ms-overflow-scrolling: touch;	

	section{
		span{
			display: block;
			text-align: right;
			padding-right:1em;
			cursor: pointer;
			transition:all 400ms ease;
			&:hover{
				color:snow;
			}
		}
		width: 100%;
		height:100%;
		background: $mainColor;	
		margin:100px auto;
		border:1px solid $black;
		text-align: center;
		font-weight: 800;
		line-height: 2em;
		div{
			font-weight: 300;
			overflow: scroll;
			/*border:1px solid $black;*/
			min-width:100px;
			/*display:inline-block;*/
			text-align: center;
			padding:1em;
			margin-bottom: 0.5em;
			margin: auto;
		}
	}
}
.container{

	::-webkit-scrollbar { 
	    display: none; 
	}
	::-moz-scrollbar { 
	    display: none; 
	}
	::-o-scrollbar { 
	    display: none; 
	}
	::-ms-scrollbar { 
	    display: none; 
	}
	position: relative;
	width: 1000px;
	max-width: 1000px;
	border: 1.2em solid black;
	/*background: red;*/
	display: flex;
	margin: auto;
	overflow: scroll;
	overflow-x: hidden;
	box-sizing: border-box;
	transition:all 400ms ease;
	/*overflow-x: hidden;*/
	 -webkit-overflow-scrolling: touch;	
	 -moz-overflow-scrolling: touch;	
	 -o-overflow-scrolling: touch;	
	 -ms-overflow-scrolling: touch;	
	 .top-toggle{
	 	display: none;
	 	width: 50px;
	 	transform:translateX(20px);
	 	height:50px;
	 	/*background: $mainColor;*/
	 	position: absolute;
	 	right:0;
	 	top: 0;
	 	bottom: 0;
	 	z-index: 1000;
	 	transition:all 300ms ease;
	 	i{
	 		line-height: 50px;
	 		margin-left: 10px;
	 		color: $black;
	 		text-align: center;
	 		transition:all 1s ease;
	 		cursor: pointer;
	 		/*margin: auto;*/
	 		transform: rotate(180deg);
	 		animation: r 700ms 1s 1 ease;
	 		@keyframes r{
	 			from{
	 				opacity: 0;
	 				transform: rotate(90deg);
	 			}
	 		}
	 		&:hover{
	 			cursor: pointer;
	 			color:snow;
	 		};
	 	}
	 	&:hover{
	 		transform:translateX(5px);

	 	};
	 }
	 .toggle{
	 	width: 30px;
	 	transform:translateX(20px);
	 	height:100px;
	 	background: $mainColor;
	 	position: absolute;
	 	right:0;
	 	top: 100vh;
	 	bottom: 0;
	 	z-index: 1000;
	 	transition:all 300ms ease;
	 	i{
	 		line-height: 100px;
	 		margin-left: 10px;
	 		color: $black;
	 		transition:all 1s ease;
	 		cursor: pointer;
	 		transform: rotate(-90deg);
	 		&:hover{
	 			cursor: pointer;
	 			color:snow;
	 		};
	 	}
	 	&:hover{
	 		transform:translateX(0px);

	 	};
	 	
	 }
}
div.wraper{
	display:flex;
	width: 100vw;
	height: 100vh;
	flex-flow:row wrap;

	.title{

		height:$titleH;
		padding:1.8em;
		text-align: center;
		h1{
			text-align: center;

		}
		p{
			margin-top: 1em;
			font-size: 1.2em ;
			transition:all 3s ease;
		}
		border-bottom:0.2em solid $black;
	}
	.banner{
		padding-top: 1em;
		text-align: center;
		height: $bannerH;
		width: 100%;
		background: $mainColor;
		/*font-family: "Lato";*/
		/*font-weight: 300;*/
		box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.4);
		transition:all 500ms ease;
		h2{
			font-weight:700; 
			line-height: 30px;
		}
	}
	.education{
		height:auto;
		/*background: green;*/
		border-bottom:0.2em solid $black;

		.edus{
			width: 100%;
			/*height: 100%;*/
			display: flex;
			flex-flow:row wrap;
			
			.edu{
				width: 100%;
				/*height: 111px;*/
				/*background: red;*/
				display: flex;
				flex-flow:row wrap;
				justify-content: space-around;
				border-bottom: 1px dotted $black;
				padding: 0.5em;
				padding-left: 10px;
				p{
					b{
						/*font-family: Lato;*/
						font-weight: 900;
					}
					margin: 0em;
					line-height: 2em;
					margin-left: 2em;
				}
				div:first-child{
					width:60%;
					/*background: yellow;*/
				}
				div:last-child{
					
					width: 40%;
					/*background: orange;*/
					text-align: right;
					p{
						margin-right: 1em;
					}
				}

				
			}
		}

	}
	.personalSkill{
		min-height: $personalSkillH;
		/*background:tomato;*/
		border-bottom:0.2em solid $black;
		
		.contentWraper{
			
			
			/*padding:3em;*/
			display: flex;
			wrap-flow:column wrap;
			div{
				width:100%;
				height: auto;

			}
			.skillList{
				/*background: red;*/
				text-align:right;
				height:auto;
				
				li{
					height: 20px;
					margin: 6px;
					margin-top: 15px;
					/*position: relative;*/

				}
				ul{
					text-align: center;				
				}

				
			}
			.skillSet {
				li:first-child{
					max-width: 25%;
					
					text-align: left;
				}
				li:last-child{
					max-width: 50px;
					text-align: left;
				}

				li{
					margin-left: 1em;
					width: 40%;
					height: 20px;
					display: inline-block;
					cursor: pointer;
				}

				p{
					
				}
				.skillBar{
						/*width: 15vw;*/
						height: 100%;
						background:$sColor;
						position: relative;
						margin-top:10px; 
						div{
							display: none;
							width: 80%;
							height: 100%;
							background: $mainColor;
							position: absolute;
							transition:all 900ms ease;
							animation: increase 1s 1 ease;
							&:hover{
								background: $hoverBg;
								/*background-size:100%;*/
								/*animation: move 22s alternate infinite linear;*/
							};
							@keyframes move{
								from{
									background-position:100%;
								}
							}
						}
				}
			}
			.skillInfo{
				
				/*background: green;*/
				width: 100%;
				height: 300px;

				.infoFeed{
					width: 80%;
					height: 500px;
					margin: 2em;
					border:2px solid $black;

					background: $mainColor;	
					overflow:scroll;
					perspective:100px;
					box-shadow:  inset 1px 1px 11px 2px rgba(0,0,0,0.15);
					.intro{
						display: none;
						
						border:none;
						line-height: 2em;font-weight:300; color: $black;
						border-bottom: 1px solid $black;
						transition:all 1s ease;
						/*animation:page 1s 2s 1 ease backwards;*/
						transform-origin:center 20%;

					}
					.intro:nth-child(1){
						animation-delay:0.3s;
					}
					.intro:nth-child(2){
						animation-delay:0.5s;
					}
					.intro:nth-child(3){
						animation-delay:0.7s;
					}
					.intro:nth-child(4){
						animation-delay:0.9s;
					}
					.intro:nth-child(5){
						animation-delay:1.1s;
					}
					div{
						border:1px solid $black;
						width:auto;
						display:inline-block;
						padding:1em;
						margin-bottom: 0.5em;
						animation:page 1s 1 ease backwards;

					}
				}
			}
		}
	}
	.workExperience{
		height:$workExperienceH;
		border-bottom:0.2em solid $black;
		div:not(.banner){
			width: 80%;
			height: 80%;
			margin:2em;
			
			margin-left: auto;
			margin-right: auto;
			p{
				margin-top:1em;
			}
			p:last-child{
				color: $sColor;
			}
		}
	}
	.personalInfo{
		height: $personalInfoH;
			padding-bottom: 100px;
		
		div{
			width: 80%;
			height: auto;
			margin-top:2em;
			/*background: red;*/
			margin-left: auto;
			margin-right: auto;
			ul{
				text-align: center;
				li{
					display: inline;
					margin: 1em;
					
					i{
						transform:scale(1.6);
						transition:all 200ms ease;
						&:hover{
							text-shadow:-1px -1px 0px $mainColor;
							animation: scale 1s 1 ease;
						};
						@keyframes scale{
							from{
								transform: scale(2);
							}
						}
					}
				}
			}
		}
		p{
			text-align: center;
			margin-top: 1em;
			margin-bottom: 1em;
		}
	}
	.form{
		flex:1;
		height: 53vw;
		vertical-align: top;
		background: $mainColor;
		text-align: center;
		input[type="text"]{
			width:368px;
			height:30px;
			font-size: 0.7em;
			padding-left: 0.5em;
			margin-top: 1em;
		}

		input[type="number"]{
			padding-left: 0.5em;
			width:368px;
			height:30px;
			font-size: 0.7em;
			margin-top: 1em;
		}
		select{
			background: white;
			  width: 268px;
			  padding: 5px;
			  font-size: 16px;
			  line-height: 1;
				border:1px solid $black;
				border-radius: 0;
			  height: 34px;
			  -webkit-appearance: none;
			  margin-bottom: 1em;

		}
		select:first-child{
			background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png);
			background-size: cover;
		}
		input[type="submit"]{
			border-style: none;
			background: transparent;;
		}
		input[value="search"]{
			border:1px solid $black;
			height: 35px;
			margin-top: 0;
		}
	/*	label{
			text-align: left;
		}*/
		input[type="submit"]:first-child{
			width: 368px;
			height:30px;
			margin-top: 1em;
			font-size: 1em;	
			border:1px solid $black;

		}
	}
}
.color{
	background: $mainColor;
}

.showup{
	animation: showup 600ms 1 ease;
}
@keyframes showup{
	from{
		opacity: 0;
	}
}
@keyframes increase{
	from{
		width: 0;
	}
}
/*media query*/
@media (max-width: 750px){
	body{
		/*background:red;*/
	}
	.container{
		.toggle{
			display: none;
		}	
		.top-toggle{
			display: block;
		}
	}
	.title{
		font-size: 70%;
	}

	.education{
	/*	.edus{
			flex-flow:column wrap !important;
			width: 100%;
		}*/
		/*display: none;*/
	}
	.personalSkill{
		/*display: none;*/
	}
	.workExperience{
		/*display: none;*/
	}
	.contentWraper{

	}	
	.skillList{
		ul{
			margin:0;
			margin-bottom: 1em;
		}
		>ul>li{
			margin:0;
			display: inline;
			/*background: orange;*/
			z-index: 100;
			
		}
		/*background: green;*/
		.skillSet{
			margin-left: 0;
			display: block;
			margin:auto;
			/*width: 300px;*/
			/*background: yellow;*/
			width: 100%;
			float: left;
			height: auto;
			li:first-child{
				width: 10%;
				/*background: blue;*/
				text-align: left;
			}
			li:last-child{
				width: 100px;
				text-align: left;
			}

			li{
				/*padding:20px;*/
				/*background: red;*/
				width:200px;

			}
		}
	}
	.skillInfo{
		display:none;
	}
	.container{
		border:none;
		width: auto;
	}
	.contentWraper{
		padding-bottom: 1.5em;
	}
	div.wraper{
		.banner{
			height: $bannerH*0.4;
			h2{
				font-size:100%;
				transform:translateY(-15px);
			}
		}
		
	}
	
}
@media (max-width: 400px){
	body{
		/*background: green;*/
	}
	.title{
		font-size: 50%;
	}
	.title{
		width: 100%;
		p{
			margin-top: 0;
			font-size:200%!important;
		}
	}

	div.wraper{
		.education{
			.edus{
				.edu{
					flex-direction:column ;
					width: 100%;
					padding-left:0;
					padding-right:0;
					padding-bottom:0;
					div:first-child{
						width: auto;
						text-align: left  ;
					}
					div:last-child{	
						
						font-weight:400;
						background: $opacittColor;
						width: auto;
						text-align: left  ;
					}
				}
			}
		}
	}
	
}
.pause{
	width: 20px;
	height: 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	animation:flash 2s infinite alternate linear;
}
.gray{
	background: $mainColor;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	display: none;
	opacity: 0.9;
	filter: blur(10px);
	animation: showup 400ms 1 ease;
}
@keyframes flash{
	from{
		opacity: 0.5;
	}
}
.clicked{

	background: $hoverBg !important;
	
	/*animation: move 22s alternate infinite linear !important;*/
};
@keyframes move{
	from{
		background-position:100%;
	}
}
.changColor{
	animation: changColor 70s alternate infinite linear !important;
}
.showDes{
	width: 100%;
	height: 100%;
	background: transparent;
	position: absolute;
	z-index: 100000;
	display: none;
	-webkit-overflow-scrolling: touch;	
	-moz-overflow-scrolling: touch;	
	-o-overflow-scrolling: touch;	
	-ms-overflow-scrolling: touch;	
	section{
		>p{
			margin-top:2em;
		}
		span{
			display: block;
			text-align: right;
			padding-right:1em;
			position:fixed;
			right:0.5em;
			cursor: pointer;
			transition:all 400ms ease;
			&:hover{
				color:snow;
			}
		}
		width: 100%;
		height:400px;
		background: $mainColor;	
		margin:100px auto;
		margin-bottom:0;
		border:1px solid $black;
		text-align: center;
		font-weight: 800;
		line-height: 2em;
		
		overflow:scroll;
		overflow-scrolling:touch;
		div{
			font-weight: 300;
			overflow: scroll;
			/*border:1px solid $black;*/
			min-width:100px;
			/*display:inline-block;*/
			text-align: center;
			padding:1em;
			margin-bottom: 0.5em;
			margin: auto;

		}
	}
}
@keyframes changColor{
/*	from{
		background: $mainColor;
	}
	50%{
		background:#92a9dd;
	}
	80%{
		background: #ecd2d5;
	}*/
}
@keyframes page{
	from{
		/*transform:center 0;*/
		opacity: 0;
		box-shadow: 1px 1px 11px $black;
		transform: rotateX(3deg);
	}
}

